@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Font";
  src: url("../font/Aeonik-Regular.otf") format("opentype");
}
body {
  font-kerning: normal;
  font-weight: normal !important;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: "Font", sans-serif;
  scroll-behavior: initial;
}
