@font-face {
  font-family: "Satoshi";
  src: url("../font/Satoshi-Variable.ttf") format("truetype");
}

html {
  background-color: #0a0a0a;
  color: white;
  font-family: "Satoshi", sans-serif;
  scroll-behavior: initial;
}

body {
  font-kerning: none;
  overflow-x: hidden;
}
